<form name="contact" netlify>
  <fieldset>
    <label>
      First name
      <input
        name="first_name"
        placeholder="First name"
        autocomplete="given-name"
      />
    </label>
    <label>
      Email
      <input
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
      />
    </label>
    <label>
      Message
      <textarea
        name="message"
        placeholder="Your message"
      ></textarea>
    </label>
  </fieldset>
  <button type="submit">Send me a message</button>
</form>
