<footer>
    <div class="footer-container">
      
      <!-- Navigation Links Column -->
      <div class="footer-column">
        <span class="footer-heading">Navigation</span>
        <ul>
          <li>
            <a href="{{ "/" }}">Home</a>
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
          </li>
        </ul>
      </div>

      <!-- Social Links Column -->
      <div class="footer-column">
        <span class="footer-heading">Contact</span>
        <ul class="social-links">
          <li><a href="/contact/">Contact Me</a></li>
        </ul>
      </div>

      <!-- Tech Column -->
      <div class="footer-column">
       <span class="footer-heading">Tech</span>
       <p><a target="_blank" href="{{ repository_url }}">{{ repository_name }}</a> is made with :heart: by <a target="_blank" href="{{ repository_owner-url }}">{{ repository_owner }}</a> 
       <p>Powered by <a target="_blank" href="https://jekyllrb.com">Jekyll</a> and <a target="_blank" href="https://pages.github.com">GitHub Pages</a></p>
      </div>
    </div>

    <!-- Extras -->
    <hr class="footer-divider">
    <div class="footer-container">
      
      <!-- Copyright Column -->
      <div class="footer-column">
       <p>Copyright &copy; 2024 - 2025 Kit France</p>
      </div>

      <!-- Links Column -->
      <div class="footer-column">
        <p><a href="/privacy">Privacy</a>&emsp;|&emsp;<a href="/accessibility">Accessibility</a>&emsp;|&emsp;<a href="/search/">Search</a></p>
      </div>
    </div>
</footer>
