<div>
  {%- for batch in product | batch(3) -%}
    <div class="grid">
      {%- for product in batch -%}
        <div>
          <article>
            <i class="{{ product.icon }} card-icons"></i>
            </a>
            <br/>
            <h4>{{ product.title }}</h4>
            <p>{{ product.description }}</p>
          </article>
        </div>
      {%- endfor %}
    </div>
  {%- endfor %}
</div>
