<meta http-equiv="Content-Security-Policy" content="
default-src 'self';
script-src 'self' 'unsafe-inline' 'wasm-unsafe-eval' https://github.githubassets.com https://code.jquery.com https://scripts.simpleanalyticscdn.com;
style-src 'self' 'unsafe-inline' https://github.githubassets.com https://cdnjs.cloudflare.com/ajax/libs/font-awesome/;
img-src 'self' data: https: https://github.githubassets.com https://*.linkedin.com https://mastodon.social;
font-src 'self' https://github.githubassets.com https://cdnjs.cloudflare.com/ajax/libs/font-awesome/;
connect-src 'self' https://mastodon.social https://*.linkedin.com;
frame-src 'self' https://scratch.mit.edu;
frame-ancestors 'none';
form-action 'self';
upgrade-insecure-requests;">
