<footer>
    <div class="footer-container">
      <!-- General Info Column -->
      <div class="footer-column">
        <h5>:information_source: Information</h5>
        <p><a target="_blank" href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is made with :heart: by <a target="_blank" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        <p><a href="{{ "/privacy/" | relative_url }}">Privacy</p>
        <p>Copyright © 2024 Kit France</p>
      </div>
  
      <!-- Navigation Links Column -->
      <div class="footer-column">
        <h5>:compass: Navigation</h5>
        <ul>
          <li><a href="{{ "/" | relative_url }}">Home</a></li>
          <li><a href="{{ "/about/" | relative_url }}">About Me</a></li>
          <li><a href="{{ "/projects" | relative_url }}">Projects</a></li>
          <li><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
        </ul>
      </div>
  
      <!-- Social Links Column -->
      <div class="footer-column">
        <h5>:call_me_hand: Contact</h5>
        {%- include social.html -%}
        <ul class="social-links">
          <li><a href="{{ "/contact/" | relative_url }}">Contact Me</a></li>
      </div>
    </div>
  </footer>