---
layout: base.njk
---
<style>{% include "node_modules/prismjs/themes/prism-okaidia.min.css" %}</style>
<div>
  <meta data-pagefind-filter="content[content]" content="pages">
  <h1>{{ title }}</h1>
</div>
<div>
  {{ content | safe }}
</div>
