---
layout: base.njk
permalink: /
---
<section>
  <div class="homepage">
    <h1>Kit France</h1>
    <h2>Dad. Husband. Product Manager.</h2>
    <img src="/assets/images/alexander-sinn-KgLtFCgfC28-unsplash.webp" loading="eager" alt="Code with a heart">
    <div class="homepage-button">
      <a href="/about" role="button">About me</a>
      <a href="/product" role="button" class="contrast">Product</a>
    </div>
  </div>
</section>
