---
layout: base.njk
permalink: /
---
<section>
  <div class="homepage">
    <h1>Kit France</h1>
    <h2>Dad. Husband. Product Manager.</h2>
    <p>Internal PM focused on tools that power product teams.</p>
    <div class="homepage-image">
      <img src="/assets/images/undraw/undraw_programming_65t2.svg" loading="eager" alt="Engineering team">
    </div>
    <div class="homepage-button">
      <a href="/about" role="button">About</a>
      <a href="/product" role="button" class="outline">Product</a>
    </div>
  </div>
</section>
