---
layout: home.njk
permalink: /
---
<section class="homepage">
  <div>
     <h1>Kit France</h1>
     <h2>Dad. Husband. Product Manager.</h2>
     <div class="btn-container">
      <a href="/about" class="btn">About me</a>
      <a href="/product" class="btn">Product</a>
    </div>
  </div>
  <div id="homeImage">
    <img src="https://images.unsplash.com/photo-1569396116180-210c182bedb8?q=80&w=2969&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Heart in binary code" loading="eager">
  </div>
</section>
