---
title: Product
eleventyNavigation:
  key: Product
  order: 2
permalink: /product/
---
<blockquote>📚 Learn more about my product journey and philosphy at <a href="/product-management/">Product management</a> or click a card to learn more</blockquote>

<div>
  {%- for batch in productCards | batch(3) -%}
    <div class="grid">
      {%- for product in batch -%}
        <div>
          <article>
            <a href="{{ product.link }}" class="card">
              <i class="{{ product.icon }} card-icons"></i>
              <span>{{ product.title }}</span>
            </a>
          </article>
        </div>
      {%- endfor %}
    </div>
  {%- endfor %}
</div>
