---
title: Projects
eleventyNavigation:
  key: Projects
  order: 3
permalink: /projects/
---
<blockquote>👷‍♂️ Personal projects to develop my technology skills</blockquote>

<div class="grid">

  <article>
    <header>
      <small><mark>Jamstack</mark></small>
    </header>
    <h4>kits-dna</h4>
    <p>My personal website</p>
    <a href="/kits-dna" role="button">Learn more</a>
  </article>

  <article>
    <header>
      <small><mark>Scratch</mark></small>
    </header>
    <h4>Dino adventures</h4>
    <p>A collection of small Scratch projects using the dinosaur sprites</p>
    <a href="/scratch" role="button">Check them out</a>
  </article>

  <article>
    <header>
      <small><mark>Python</mark></small>
    </header>
    <h4>CS50P final project</h4>
    <p>I'm working my way through CS50's Introduction to Prgramming with Python</p>
    <button disabled>Coming soon</button>
  </article>

  <article>
    <header>
      <small><mark>Unknown</mark></small>
    </header>
    <h4>Product</h4>
    <button disabled>In the future</button>
  </article>

</div>

<h2>My tech stack</h2>
<ul>
  <li>iPad Pro</li>
  <li>Raspberry PI 4</li>
  <li>MacBook Air</li>
  <li>GitHub</li>
  <li>GitHub Copilot</li>
  <li>Eleventy</li>
  <li>Netlify</li>
  <li>ChatGPT</li>
</ul>
