---
layout: base.njk
permalink: /resume/
lastUpdated: 2025-07-05
---
<div>
    <h1>Kit France - Product Manager Resume (CV)</h1>
</div>

<blockquote>I’m a product manager with five+ years of experience building user-centred platform products. 
Below is a snapshot of my experience and skills. You can also download my resume as a PDF or connect with me on <a href="{{ metadata.linkedin.url }}">LinkedIn</a>.</blockquote>

<a href="/assets/documents/resume.pdf" download data-tooltip="Download my resume" title="Resume"><i class="fa-solid fa-download footer-icon"></i></a>
<br>
<br>

<div>
    <h2>💼 Experience</h2>
</div>

<details name="experience" open>
  <summary><strong>Product Manager @ DWP | October 2022 - Present</strong></summary>
  <ul>
    <li>Developed key product artefacts including a revised product vision, strategy aligned to departmental goals, and an outcome-focused roadmap that guided multiple teams and incorporated stakeholder challenge and feedback to refine and align priorities.</li>
    <li>Delivered a secure authentication product from discovery to public beta by leading cross-functional design workshops. Made prioritisation decisions using limited early data, user feedback and risk to shape iterations. This reduced engineering time by 75%, cut hosting costs by 15%, and improved deployment security.</li>
    <li>Championed a project review after user feedback, influencing senior stakeholders to pivot the vision and roadmap, enabling earlier value realisation and improved focus.</li>
    <li>Led a multi-functional team of 10 to improve the GitLab Runner platform, worked closely with users to gather opportunities and articulate their needs to the product team for planning and delivery. This reduced incidents by 50% and achieved a 99.5% success rate.</li>
    <li>Initiated dual-track agile adoption, introduced continuous discovery processes that improved discovery velocity, validated the product backlog and reduced waste.</li>
    <li>Coached the product team in product discovery and dual-track agile, strengthened product capability, enabling engineers to contribute earlier.</li>
  </ul>
</details>

<hr />

<details name="experience">
  <summary><strong>Associate Product Manager @ DWP | December 2021 - September 2022</strong></summary>
  <ul>
    <li>Developed the M365 Learn Hub roadmap, prioritised high-value features and reduced low-impact work, resulting in 10% growth in active monthly users.</li>
    <li>Led regular “message centre” comms meetings to surface new features and breaking changes, improving awareness across product teams and reducing delivery friction.</li>
    <li>Designed accessible, inclusive content aligning with accessibility best practices and standards to support all users.</li>
  </ul>
</details>

<hr />

<details name="experience">
  <summary><strong>Infrastructure Engineer / Product Owner @ DWP | November 2019 - December 2021</strong></summary>
  <ul>
    <li>Led the rapid expansion of the remote access service during the COVID-19 pandemic, enabling 60,000+ additional users to work remotely and ensuring continuity of service under pressure.</li>
    <li>Introduced Zscaler from discovery to live for 90,000 users, improving the security of internet access across the organisation.</li>
    <li>Drove NetScout adoption across Networks, addressing user needs, improving troubleshooting capabilities, and informing network design planning.</li>
  </ul>
</details>

<hr />

<details name="experience">
  <summary><strong>Cyber Security Associate @ EY | January 2018 - November 2019</strong></summary>
  <ul>
    <li>Led large, distributed teams across Europe and India to deliver CISO driven application security projects for global banking clients.</li>
    <li>Managed £1.5M and $1M engagements, improving application security and achieving audit compliance.</li>
    <li>Built strong collaborative relationships across functions and geographies to ensure successful project outcomes.</li>
  </ul>
</details>

<hr />

<details name="experience">
  <summary><strong>Logging Geologist / Data Engineer @ Halliburton | January 2014 - December 2017</strong></summary>
  <ul>
    <li>Led on-site monitoring operations across drilling phases, ensuring successful job delivery and high crew performance.</li>
    <li>Maintained critical data infrastructure (10+ remote systems) and ensured secure, timely communication between offshore and onshore teams.</li>
    <li>Provided technical updates to the client, drill crew and third parties, contributing to real-time decision making.</li>
    <li>Mentored and trained junior crew members, supporting team development in high pressure, harsh environments.</li>
  </ul>
</details>

<hr />
<br />

<div>
    <h2>🏫 Education</h2>
</div>

<details name="education">
  <summary><strong>Durham University</strong></summary>
  <p>MSci, Geoscience, 2:1 | 2013</p>
</details>

<hr />
<br />

<div>
    <h2>🥷 Skills</h2>
</div>

<details name="skills">
  <summary><strong>Product</strong></summary>
    <ul>
        <li>Vision</li>
        <li>Strategy</li>
        <li>Roadmaps</li>
        <li>OKRs</li>
        <li>Discovery</li>
        <li>Delivery</li>
    </ul>
</details>

<hr />

<details name="skills">
  <summary><strong>Design</strong></summary>
    <ul>
        <li>User Centred Design</li>
        <li>User Research</li>
        <li>Wireframes</li>
        <li>Responsive Design</li>
    </ul>
</details>

<hr />

<details name="skills">
  <summary><strong>Technical</strong></summary>
    <ul>
        <li>HTML/CSS</li>
        <li>Markdown</li>
        <li>Python (basic)</li>
        <li>Git</li>
        <li>Eleventy</li>
    </ul>
</details>

<hr />

<details name="skills">
  <summary><strong>Tools</strong></summary>
    <ul>
        <li>Microsoft 365</li>
        <li>Jira/Confluence</li>
        <li>Notion</li>
        <li>GitHub</li>
        <li>GitLab</li>
        <li>Visual Studio Code</li>
    </ul>
</details>

<hr />
<br />

<div>
    <h2>🤖 Technical courses</h2>
</div>

<details name="courses">
  <summary><strong>CS50x | HarvardX (edX)</strong></summary>
   <ul>
    <li>Computer Science for Business Professionals</li>
    <li>Introduction to Programming with Scratch</li>
    <li>Introduction to Programming with Python (in progress)</li>
   </ul>
</details>

<hr />

<p><i>Last updated on {{ lastUpdated | dateFormat }}</i></p>

<a href="/contact" role="button">Contact me</a>
