---
permalink: /scratch/
title: Scratch
---
<div>
    <p>Why not start learning programming like a kid. <a href="https://scratch.mit.edu/"><b>Scratch</b></a> is an MIT project to help kids get into programming by using a fun graphical approach. Scratch is available online and also comes installed on `Raspberry Pi OS`.
        I haven't spent loads of time on Scratch but it was fun to make up some quick projects.
        The graphical approach lets you see the code and the order in which the instructions are carried out, which is nice for a beginner.
        The tutorials and shared projects on the Scratch website make it easy to get some ideas and get started.
        I also recommend checking out <a href="https://cs50.harvard.edu/scratch/2024/">CS50's Introduction to Programming with Scratch</a>.
    </p>
</div>

<h2>Dino adventures</h2>

<article>
    <header>
        <h3>Convo</h3>
    </header>
    <p>Trevor the T-Rex is hungry, click the green flag to see if he can find any food...</p>
    <iframe src="https://scratch.mit.edu/projects/1078687895/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
</article>

<article>
    <header>
        <h3>Pong Game</h3>
    </header>
    <p>Click the green flag and use your mouse to move the T-Rex to catch the pterosaur.</p>
    <iframe src="https://scratch.mit.edu/projects/1078536558/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
</article>

<article>
    <header>
        <h3>Maze</h3>
    </header>
    <p>Use the arrow keys to move the T-Rex to the Taco... avoid the red lines!</p>
    <iframe src="https://scratch.mit.edu/projects/1080026047/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
</article>
