---
title: Side projects
eleventyNavigation:
  key: Side Projects
  order: 3
permalink: /side-projects/
---
<blockquote>👷‍♂️ Personal projects to explore and develop my technology skills</blockquote>

<div class="grid">

  <article>
    <header>
      <small><mark>Jamstack</mark></small>
    </header>
    <hgroup>
    <h2>kits-dna</h2>
    <p>My personal website</p>
    </hgroup>
    <a href="/side-projects/kits-dna" role="button">Learn more</a>
  </article>

  <article>
    <header>
      <small><mark>Scratch</mark></small>
    </header>
    <hgroup>
    <h2>Dino adventures</h2>
    <p>A collection of small Scratch projects using the dinosaur sprites</p>
    </hgroup>
    <a href="/side-projects/scratch" role="button">Check them out</a>
  </article>

  <article>
    <header>
      <small><mark>Python</mark></small>
    </header>
    <hgroup>
    <h2>CS50P final project</h2>
    <p>CS50's Introduction to Programming with Python Final Project</p>
    </hgroup>
    <a href="/side-projects/cs50p-final-project" role="button">Take a look</a>
  </article>

  <article>
    <header>
      <small><mark>Unknown</mark></small>
    </header>
    <hgroup>
    <h2>Product</h2>
    </hgroup>
    <button disabled>In the future</button>
  </article>

</div>
