/* Custom styles */

@use "colors" as *;
@use "fonts";

:root {
  --pico-font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Homepage */
.homepage-button {
  justify-content: center;
  display: flex;
  gap: 1em;
}

.homepage h1 {
  font-size: 3.72em; // Large heading
  font-weight: 500;
  text-align: center;
}

.homepage h2 {
  font-size: 1.55em; // Small heading
  font-weight: 500;
  text-align: center;
}

.homepage p {
  text-align: center;
}

.homepage img {
  display: block;
  margin: 2rem auto;
  max-width: min(800px, 90%);
  width: 100%;
  height: auto;
}

// Header
header a {
  font-size: 0.875em;
}

// Footer
footer .grid {
  display: grid;
  text-align: center;
}

footer p {
  font-size: 0.875em;
}

.footer-links a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Search */
#search {
    --pagefind-ui-text: #393939;
    --pagefind-ui-font: var(--pico-font-family);
  }

/* Style for the dark mode toggle icon */
.dark-mode-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: grey;
    margin-left: 20px;
    transition: transform 0.3s ease;
    font-size: 1rem;

    &:hover {
      transform: scale(1.1);
    }
  
  
    .light-icon {
      display: none;  // Hide sun by default (light mode)
      height: 1em;
      width: 1em;
      color: $amber-200;
    }
    
    .dark-icon {
      display: inline;  // Show moon by default (light mode)
      height: 1em;
      width: 1em;
    }
}
  
// Font Awesome icon styling
.card-icons {
    display: grid;
    place-items: center;
    vertical-align: middle;
    justify-content: center;
    height: 2em;
    width: 2em;
    color: $orange-400;
}

.header-icon {
    height: 1em;
    width: 1em;
}

.footer-icon {
    height: 1.5em;
    width: 1.5em;

  &:hover {
    transform: scale(1.1);
  }
}

.back-top-icon {
    height: 1em;
    width: 1em;
}

// Post pagination
.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: none;
	padding: 1em 0;
}
.links-nextprev > * {
  list-style: none;
	flex-grow: 1;
  flex-basis: 45%; 
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.links-nextprev-next {
	text-align: right;
}

.back-to-top {
  display: grid;
  place-items: center;
}

// Product cards

.card {
display: flex;
flex-direction: column;
align-items: left;
justify-content: left;
}

.product-title {
  font-size: 1.25rem;
  font-weight: 700;
}

// Hide heading anchor by default
.header-anchor {
  visibility: hidden;
}

// Show heading anchor only when the heading is hovered
h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  visibility: visible;
  text-decoration: underline;
}

// Headings for blog post list
.blog-post-list-heading {
  font-size: 1.25rem;
}

// Centre images and captions
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure figcaption {
  text-align: center;
}

// Responsive Nav Burger
// https://github.com/picocss/pico/discussions/343 but using CSS classes rather than ARIA roles due to accessibility issues
/*******************************************************************************
  * Pico CSS  - responsive nav
  * Grows vertically (mobile-first). Changes back to horizontal growth on higher
  * resolutions.
  *****************************************************************************/

.responsive-nav,
.responsive-nav > .nav-links,
.responsive-nav > .nav-utilities {
  flex-direction: column;
  position: relative;
}

@media (min-width: 769px) {
  .responsive-nav,
  .responsive-nav > .nav-links,
  .responsive-nav > .nav-utilities {
    flex-direction: row;
  }
}

/*******************************************************************************
  * Pure CSS burger menu
  * Styles a parent + checkbox to look like 3 stacked lines when unchecked and
  * as a cross when checked. Includes animations.
  *****************************************************************************/

[data-role="burger"] {
  opacity: 0.8;
  cursor: pointer;
  border-radius: 10%;
  box-sizing: border-box;
  background-color: transparent;
  height: 24px;
  width: 28px;
  padding: 0;
  margin: 0;
}

[data-role="burger"] > input[type="checkbox"] {
  height: 3px;
  width: 20px;
  border: none;
  background-color: $orange-400;
  transition: all 0.2s ease-in-out;
  position: relative;
  margin-inline: 0;
}

[data-role="burger"] > input[type="checkbox"]:checked {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

[data-role="burger"] > input[type="checkbox"]::before, [data-role="burger"] > input[type="checkbox"]::after {
  height: 3px;
  width: 20px;
  border-radius: 2px;
  background-color: $orange-400;
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}

[data-role="burger"] > input[type="checkbox"]::before {
  top: -8px;
}

[data-role="burger"] > input[type="checkbox"]::after {
  top: 8px;
}

[data-role="burger"] > input[type="checkbox"]:checked::before {
  box-shadow: none;
  transform: rotate(45deg) translate(5.75px, 5.75px);
}

[data-role="burger"] > input[type="checkbox"]:checked::after {
  box-shadow: none;
  transform: rotate(-45deg) translate(5.75px, -5.75px);
}

/*******************************************************************************
  * Pure CSS toggle
  * Uses a checkbox to trigger rules and show/hide related elements.
  *****************************************************************************/

/* adjust menu for toggling */
.responsive-nav {
  position: relative; /* anchor for children */
  /* needed otherwise it grows to fit all its children */
  max-height: calc(var(--pico-line-height) * 1em + var(--pico-nav-element-spacing-vertical)*2);
}

/* nav-bar (logo) always visible */
.responsive-nav > .nav-logo {
  visibility: visible;
  opacity: 1;
  display: flex;
}

/* hide nav-items within menu */
.responsive-nav > .nav-links,
.responsive-nav > .nav-utilities {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: var(--pico-background-color);
}

/* show hidden nav-items when burger is checked */
.responsive-nav:has(> label > input[type="checkbox"]:checked) > .nav-links,
.responsive-nav:has(> label > input[type="checkbox"]:checked) > .nav-utilities {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}

/* position the menu button */
.responsive-nav > label {
  position: absolute;
  right: 0;
  top: 11px;
  padding: var(--pico-nav-element-spacing-vertical) var(--pico-nav-element-spacing-horizontal);
}

@media (min-width: 769px) {
  /* hide menu button */
  .responsive-nav > label {
    display: none;
  }

  /* show all nav-items */
  .responsive-nav > .nav-links,
  .responsive-nav > .nav-utilities {
    visibility: visible;
    opacity: 1;
    display: flex;
    top: unset;
  }
}
