/**
 * Site header
 */
.site-header {
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.22em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 400;
}

/* Dark mode site header using media query */
@media (prefers-color-scheme: dark) {
  .site-header {
    background-color: #080808;
  }
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header img {
  max-width: 100%;
  height: 3em;
  margin-right: 2em;
}

.header-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  padding-top: $spacing-unit / 2;
}

@include media-query($on-palm) {
  .header-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;

  &,
  &:visited {
    color: black;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #004225;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  /* Dark mode page link (header) using media query */
  @media (prefers-color-scheme: dark) {
    .page-link {
      color: $text-color-dark;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 1px;
    right: $spacing-unit / 2;
    background-color: #f7f7f7;
    text-align: left;
    background-color: #f7f7f7;

    @media (prefers-color-scheme: dark) {
      background-color: #080808;
    }

    label[for="nav-trigger"] {
      display: block;
      float: none;
      width: 2em;
      height: 2em;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 100%;
      height: 2em;
      line-height: 0;
      text-align: center;

      > svg {
        fill: #004225;
        padding-top: 5px;
        height: 28px;

        @media (prefers-color-scheme: dark) {
          fill: #ffff00;
        }
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
      background-color: #f7f7f7;
      text-align: center;

      @media (prefers-color-scheme: dark) {
        background-color: #080808;
      }
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 1px;
      background-color: #f7f7f7;

      @media (prefers-color-scheme: dark) {
        background-color: #080808;
      }
    }

    .icon-link {
      display: block;
      margin-top: -15px;
      margin-bottom: -10px;
    }

    .page-link {
      display: block;
      padding: 0px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/* Hero */
.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Hero Button .hero */
.btn {
  display: block;
  width: 100px;
  border: 3px solid white;
  padding: 0.5em;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  border-radius: 20px;
  background-color: #004225;
  border-color: #004225;
}

.btn a {
  color: yellow;
  text-decoration: none;
}

.btn:hover {
  color: yellow;
  text-decoration-line: underline;
  background-color: black; 
  border-color: black;
}

/* Dark mode hero button */
@media (prefers-color-scheme: dark) {
  .btn {
    border: 3px solid #fcfcfc;
    background-color: yellow;
    border-color: yellow;
  }
  
  .btn a {
    color: #004225;
    text-decoration: none;
  }
  
  .btn:hover { 
    color: #004225;
    text-decoration: underline;
    background-color: #fcfcfc; 
    border-color: #fcfcfc;
  }
}

/* Homepage */
.homepage {
  color: #004225;
  background-color: $background-color;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* Dark mode .homepage */
@media (prefers-color-scheme: dark) {
  .homepage {
    color: $text-color-dark;
    background-color: $background-color-dark;
  }
}

/* Default font sizes for larger screens */
.homepage h1 {
  font-size: 3.72em; /* Large heading */
  font-weight: 500;
}

.homepage h2 {
  font-size: 1.55em; /* Small heading */
  font-weight: 500;
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .homepage h1 {
    font-size: 2.98em; /* Scale down by 20% for mobile */
  }

  .homepage h2 {
    font-size: 1.24em; /* Scale down by 20% for mobile */
  }
}  

/* Default homepage image (light mode) */
#homeImage {
  content: url('/assets/images/productdoodles.jpeg');
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
}

/* Dark mode homepage image */
@media (prefers-color-scheme: dark) {
  #homeImage {
      content: url('/assets/images/productdoodles4.jpeg');
      padding-bottom: 1em;
  }
}

/**
* New footer css
*/

/* Basic Footer Styles */
footer {
  background-color: #080808; /*080808*/
  color: #fcfcfc;
  padding: 20px 0;
}

.footer-heading {
  color: #fcfcfc;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  display: block;
  font-size: small;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  max-width: 250px;
}

.footer-column p,
.footer-column a {
  color: #fcfcfc;
  text-decoration: none;
  font-size: small;
  text-align: center;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #fcfcfc;
}

.footer-divider {
  max-width: 800px;
  border-top: 1px solid #fcfcfc;
  margin: 20px auto;
}

/* Social Links */
.social-links a {
  color: #fcfcfc;
  font-size: small;
  text-align: center;
}

.social-media-item {
  display: inline-block;
}

/* Responsive Footer (for screens smaller than 768px) */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 20px;
    padding: 0;
    max-width: 100%;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  font-size: 2em;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-top: $spacing-unit;
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.post-title {
  margin-bottom: $spacing-unit;
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 2em;

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h2 {
    font-size: 1.5em;

    @include media-query($on-laptop) {
      @include relative-font-size(1.50);
    }
  }

  h3 {
    font-size: 1.17em;

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    font-size: 1.12em;

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/* Blog RSS */
.blog-rss ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

/* Search */

/* Styles for the search box */
#search input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: $base-font-size;
}

#search button {
  background-color: #004225;
  color: $text-color-dark;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: $small-font-size;
  cursor: pointer;
}

#search button:hover {
  background-color: #004225;
}

/* Additional styles for the search container
#search {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
} */

/* Dark mode search */

/* Styles for the search box */
@media (prefers-color-scheme: dark) {
  #search input {
    border: 1px solid #fcfcfc;
  }

  #search button {
    background-color: yellow;
    color: $text-color;
  }

  #search button:hover {
    background-color: yellow;
  }
}

/* Change the color of the Font Awesome search icon */
.icon-link .fa-search {
  color: #004225;
}

/* Dark mode search link */
@media (prefers-color-scheme: dark) {
  .icon-link .fa-search {
    color: $text-color-dark;
  }
}
