---
layout: base.njk
permalink: /
---
<section>
  <div class="homepage">
    <h1>{{ metadata.name }}</h1>
    <h2>Dad. Husband. Product Manager.</h2>
    <p>Internal PM focused on tools that power product teams.</p>
    <div class="homepage-image">
      <img src="/assets/images/undraw/undraw_programming_65t2.svg" fetchpriority="high" loading="eager" width="787" height="572" eleventy:ignore alt="Engineering team">
    </div>
    <div class="homepage-button">
      <a href="/about" role="button">About</a>
      <a href="/product" role="button" class="outline">Product</a>
      <a href="/side-projects" role="button" class="outline">Side Projects</a>
    </div>
  </div>
</section>

{% include "latest-posts.njk" %}
