name: ESLint CI

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.js'
      - 'package.json'
      - 'eslint.config.js'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  eslint:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run eslint
        continue-on-error: true
 