name: Vale CI

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.md'
  workflow_dispatch:

permissions:
  contents: read
  checks: write

jobs:
  vale:
    name: vale
    runs-on: ubuntu-22.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: errata-ai/vale-action@d89dee975228ae261d22c15adcd03578634d429c # v2.1.1
        continue-on-error: true
        with:
          vale_flags: "--glob=!LICENSE.md"
